__tests__/**
__mocks__/**

_local/**

.vscode/**
.vscode-test/**

out/test/**
out/**/*.map

src/**

**/tsconfig.json
**/tsconfig.*.json

**/tslint.json
**/jest.config.js

**/*.map
**/*.ts

.gitignore
